.navbar-brand img {
  width: 120px;
  height: 130px;
}

.container-card {
  margin: auto;
  width: 100%;
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
}
.container-img{
  padding-bottom: 200px;
}

.custom-card {
  width: 300px;
  background-color: #ffffff;
}

.custom-img {
  width: 100%;
  height: 230px;
}